$blue:#0052fe;
$white: #fff;
$yellow:hsl(47, 100%, 57%);
$black:#1a1404;
$gray:#696772;
$star-y:#ffa126;
$footer:#111111;
$f-letters:#888888;
$green:#00aca6;
$orange:#ff7201;
$grej:#edf0f7;
$bluish:#dde6f7;